# SERVER
PORT=3001
ENV=development # development || production

# BUCKET SERVICE
S3_REGION=us-east-1
# In development endpoint is the name of container minio service. In Production endpoint is endpoint of AWS-S3 service
S3_ENDPOINT=minio
S3_ACCESS_KEY=F8hkFDy6SLrEmSl8EthF
S3_SECRET_KEY=wO4wbGWLhB9tU0NWPYKtFwITzVgc9bNmoNqdDmZn